<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="ConnectionInfo" value="server=(local);database=Northwind;Integrated Security=SSPI" />
    
    <add key="MailMessageTo" value="elias.alves.chacon@gmail.com" />
    <add key="SmtpClientHost" value="smtp.google.com" />
    <add key="SmtpClientPort" value="25" />
    <add key="SmtpClientEnableSsl" value="true" />
    <add key="SmtpClientCredentials" value="somebody@gmail.com;123456" />
  </appSettings>

</configuration>